body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 29px;
    
}
header p{
    font-size: 50px;
    margin-right: 310px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}
header nav{
    margin-top:35px;
    margin-right: 70px;
}

.contenido {
    margin-top: 100px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 59px; 
    border-radius: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10;
    display: flex;  
}
nav a{
    padding: 10px;
    color: #ecd5d5;
    border-radius: 4px;
}

nav ul li {
    margin-right: 7px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.contenido {
    margin-top: 100px;
}

.main {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
}
main p{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'Arial', Times, serif;
    font-style: italic;
    font-weight: bold;
    /*justificar texto*/
    text-align: justify;
    color: #000;
}  
.pri1 {
    display: grid;
    grid-template-columns: auto 1fr;
    transition-property: initial;
    gap: 20px;
    align-items: center;
}
.ima {
    width: 300px;
    height: 300px;
    border-radius: 18px;
    margin-top: 70px;
    margin-left: 150px;
}
.pri11 {
    text-align: left;
    margin-right: 50px;
}
.historia{
    margin-top: 100px;
    background-color: #bdc3c5;
    
}
.historia h2{
    padding: 20px;
    font-size: 40px;
    text-align: center;
    
}

.servicio h2{
    padding: 20px;
    font-size: 40px;
    text-align: center;
}


